body {
  background-color: lightblue;
}

.foto1{
  float: right;
  margin: 5px;
  border: 2px solid black;
}

.foto2{
  float:left;
  margin: 5px;
  border: 2px solid black;
}

.foto3{
  float:right;
  margin: 5px;
  border: 2px solid black;
}

p{
  font-size: 20px;
}
