.body1{
  background-image: url("../images/achtergrond1.jpg");
  background-repeat: no-repeat;
}

.body2{
  background-color: black;
}

.body3{
  background-color: black;
}

.body4{
  background-image: url("../images/achtergrond4.jpg");
  background-repeat: no-repeat;
}

.Dirk{
  width: 70px;
  float: right;
  margin: 5px;
}

.Action{
  width: 121px;
  float: right;
  margin: 5px;
}

.Zevenster{
  width: 300px;
  float: right;
  margin: 5px;
}

.Gilde{
  width: 121px;
  float: right;
  margin: 5px;
}

.Davinci{
  width: 60px;
  float: left;
  margin: 5px;
}

/* de navigatiebar */
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* zet de navigatiebar op een gefixte positie */
  top: 0; /* zet de navigatiebar aan de bovenkant van de pagina */
  width: 100% /* de volledige lengte van de pagina */
}

/* links in de navigatiebar */
.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* veranderd de achtergrond als je er met je muis overgaat */
.navbar a:hover{
  background: pink;
  color: black;
}

section{
  position: center;
  padding: 250px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* main content */
.box{
  position: center;
  max-width: 1080px;
  padding: 50px;
  background: rgba(255,255,255,.3);
}

.Pieter{
  width: 120px;
  margin: 10px;
  float: right;
}
